.centeredSlider {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}
.centeredSlider-component {
    flex: 1;
    margin: 20px;
    min-width: 200px;
}

.centeredSlider-wrap {
    transition: margin-left 300ms, transform 300ms;
    -webkit-transition: margin-left 300ms, -webkit-transform 300ms;
}

.seta-esquerda:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0; 
    height: 0; 
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right: 5px solid #222222; 
  }
  
  .seta-direita:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0; 
    height: 0; 
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #222222;
  }

  .controles{
      background-color: transparent;
      display: block;
      border: none;
      position: relative;
      height: 50px;
      margin-top: 2%;
  }

  .controles-left{
      float: left;
  }

  .controles-right{
      float: right;
  }