.itens-container{
    text-align: center; 
}

.admin-item{
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #000000;
    padding: 5% 30px;
    min-height: 10%;
    min-width: 40%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px!important;
    outline: none;
    transition: .3s all;
    letter-spacing: 0.2em;
    font-family: Montserrat;
    margin: 2% 2%;
    text-align: center;     
}

@media only screen and (max-width: 800px) {
    .admin-item{
        min-width: 100%;
    }
}

.admin-item span{
    padding: 20px;
}

.admin-item:hover {
    background-color: gray;
    color: #ffffff;
    text-decoration:none; 
}
