@font-face{
    font-family: Arimo;
    src: url("../src/components/Fonts/Arimo/Arimo-Regular.ttf");
}

@font-face{
    font-family: Montserrat;
    src: url("../src/components/Fonts/Montserrat/Montserrat-SemiBold.ttf")
}

body{
    font-family: 'Arimo', sans-serif; /*fonte do template*/
    
}
/*Modal Ver Detalhes do Produto*/
.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
    
}

.modal-container.mostrar{
    display: flex;
}

.modal {
    background: white;
    height: 90%;
    width: 80%;
    padding: 35px;
    box-shadow: 0 0 0 2px black;
    position: relative;
    display: block;
    overflow: auto;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal {
    animation: modal .3s;
}

.fechar{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    background: black;
    color: white;
    cursor: pointer;
    transition: all .5s;
}
.fechar:hover{
    background: #e95144;
}

/* Conteudo do Modal */
.imagemProdutoModal{
    margin-right: 5%;
    width: 35%;
    height: 35%;
    float: left;
    transition: all 0.3s;
}
.imagemProdutoModal:hover{
    transform: scale(1.3) translate(-30px, 0px);
    box-shadow: 0 0 0 2px black;
    margin-left: 5%;
    cursor: crosshair;
}
.descricaoProdutoModal{
    float: left;
    width: 30%;
}
.descricaoProdutoModal button{
    border: 1px solid #a7a4a4;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all .3s;
    outline: none;
    margin-bottom: 5%;
}

.botoesTamanho button{
    margin-right: 3%;
    height: 25px;
    background-color: white;
}

.botoesTamanho button:focus{
    border: 1px solid black;
    box-shadow: 0 0 0 2px black;
}

.botoesQuantidade{
    margin-left: 3%;
    margin-right: 3%;
    height: 25px;
    background-color: white;
    
}
.botaoAddCarrinho{
    padding: 0.6rem;
    margin-top: 0.7rem;
    background-color: black;
    color: white;
    width: 100%;
}

.botaoAddCarrinho:hover{
    background: #e95144;
    border: 1px solid #e95144;
}
/*-------------Produto----------------- margin:  top right bottom left  */
.listaProduto{
    margin: 0 0 2% 0;
}
.pro{
    width: 20%;
}
/*responsividade produto*/
@media only screen and (max-width: 1200px) {
    .pro{
        width: 25%;
    }
}
@media only screen and (max-width: 1039px) {
    .imagemProdutoModal{
        float: none;
        width: 100%;
    }
    .descricaoProdutoModal{
        width: 100%;
    }
    .fechar{
        top: -5px;
    }
}
@media only screen and (max-width: 768px) {
    .pro{
        width: 33%;
    }
}
@media only screen and (max-width: 720px) {
    .pro{
        width: 50%;
    }
}
@media only screen and (max-width: 575px) { /*mobile com 1 produto por linha*/
    .pro{
        width: 100%;
    }
    
    .descricaoProdutoModal{
        width: 100%;
    }
    .imagemProdutoModal:hover{
        transform: scale(1.3) translate(-7px, 5px);
    }
    
}

.produto{ 
    margin-left: 5%;
    cursor: pointer;
}
.imagemProduto{
    width: 100%;
    height: 100%;
    transition: all .5s; 
}
.imagemProduto:hover{
    opacity: 0.5;
}
.botaoVerDetalhes{
    text-align: center;
    cursor: pointer;
    height: 30px;
    width: 100%;
    border: 1px solid black;
    background-color: black;
    color: #a7a4a4;
    visibility: hidden;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
}
.botaoVerDetalhes.mostrarBotao{
    visibility: visible;
    animation: botao .3s;
}
@keyframes botao {
    from {
        opacity: 0;
        transform: translate3d(0, -10px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.descricaoProduto{
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.1rem;
}
.marcadescricaoProduto{
    color: #828282;
}
.precodescricaoProduto{
    color: #e95144;
}

/*---------------------------------------- */

.spotlight{
    font-family: "Montserrat";
    text-transform: uppercase;
}

.discreet-spot{
    font-size: 11px;
}

.discreet-arimo{
    font-size: 12px;
}

.subtitle-montserrat{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 10%;
}

.banner-paragrafo{
    position: relative;
    text-align: center;
    margin-top: -380px;
    margin-bottom: 260px;
}

.banner-texto{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.banner-texto-inline{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.banner-paragrafo-rightinle{
    margin-left: 50%;
}

.pink-card{
    background-color: #FFF5EE;
    padding: 1%;
}

.pink-card-title{
    font-size: 16px;
    margin-top: 5%;
    font-weight: bold;
}

.divider{
    display: block;
    border: 1.5px solid #222222;
    width: 40px;
    color: #222222;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*---------------------------------------- */

/*Tratando responsividade*/
@media only screen and (max-width: 600px) {
    h1, h2, h3{
        font-size: 20px;
    }
    .banner-paragrafo{
        margin-top: 0px;
    }
    .banner-titulo{
        display: block;
        position: relative;
        width: 70%;
        height: 30px;
        align-items: center;
        background-color: rgba(255,255,255,.9);
        margin-top: -50px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .banner-titulo-natural{
        margin-top: 30px;
    }

    .banner-texto{
        width: 80%
    }
    .undercard{
        margin-top: -200px;
    }
    .banner-paragrafo-rightinle{
        margin-left: 0;
    }

    .banner-texto-inline{
        width: 80%;
    }

    .mobile-hide{
        display: none;
    }
    
}
/*------------Scroll Navbar Primaria e Secundaria--------- */
.navbarPricipal{
    z-index: 200;
}
.navbarEscondida{
    display: none;
    z-index: 1;
}
.navbarEscondida.aparece{
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    height: 10%;
}
.navbarPrincipal.esconde{
    display: none;
}
.pesquisa{
    display: none;
}
.pesquisa.mostrarpesq{
    display: block;
    animation: pesquisa .5s;
}
@keyframes pesquisa {
    from {
        opacity: 0;
        transform: translate3d(150px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.imgpesquisa{
    transition: .3s all;
    cursor: pointer;
    opacity: 1;
}
.imgpesquisa:hover{
    opacity: 0.7;
}
.imgcarrinho{
    transition: .3s all;
    cursor: pointer;
    opacity: 1;
}
.imgcarrinho:hover{
    opacity: 0.7;
}

/*---------------------------------FOOTER------------------*/
.footertitles{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15%;
    margin-bottom: 5%;
    color: #FFF5EE;
    
}

.footer-top li{
    list-style-type: none;
    text-align: left;
    /* bg.dark == #343a40*/
}

.nav-item{
    float: left;
    
}
.nav-item li span{
    color: #969696;
    letter-spacing: 0.02em;
    font-size: 12px;
    outline: none;
    transition: 0.6s;
    text-decoration: none;
    margin-right: 50%;
}
.nav-item li a{
    text-decoration: none;
}

.nav-item li span:hover{
    border-bottom: 1px solid #fff;
    color: #fff;
}
.footer-bottom{
    color: #969696;
    letter-spacing: 0.02em;
    font-size: 12px;
    border-top: 1px solid #525252;
    margin-top: 1%;
    padding: 2%;
    
}
.footer-social{
    margin-top: 1%;
    margin-left: 10%;
    margin-bottom: 8%;
}
.social-icons li{
    cursor: pointer;
    opacity: 1;
    transition: .5s all;
}
.social-icons li:hover{
    opacity: 0.5;
}

.footer-payments li{
    margin-top: 2%;
    margin-right: 2%;
    cursor: pointer;
    opacity: 1;
    transition: 0.6s;
}
.footer-payments li:hover{
    opacity: 0.4;
}



/*-------------------------------------------------------*/