@font-face{
    font-family: Arimo;
    src: url("../src/components/Fonts/Arimo/Arimo-Regular.ttf");
}

@font-face{
    font-family: Montserrat;
    src: url("../src/components/Fonts/Montserrat/Montserrat-SemiBold.ttf")
}

body{
    font-family: 'Arimo', sans-serif; /*fonte do template*/
    
}
/*Modal Ver Detalhes do Produto*/
.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
    
}

.modal-container.mostrar{
    display: flex;
}

.modal {
    background: white;
    height: 95%;
    width: 75%;
    padding: 35px;
    box-shadow: 0 0 0 2px black;
    position: relative;
    display: block;
    overflow: auto;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal {
    animation: modal .3s;
}

.fechar{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    background: black;
    color: white;
    cursor: pointer;
    transition: all .5s;
}
.fechar:hover{
    background: #e95144;
}

/* Conteudo do Modal */
.imagemProdutoModal{
    margin-right: 5%;
    width: 40%;
    height: 40%;
    float: left;
    transition: all 0.3s;
}
.imagemProdutoModal:hover{
    transform: scale(1.3) translate(-30px, 0px);
    box-shadow: 0 0 0 2px black;
    margin-left: 5%;
    cursor: crosshair;
}
.descricaoProdutoModal{
    float: left;
    width: 30%;
}
.descricaoProdutoModal button{
    border: 1px solid #a7a4a4;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all .3s;
    outline: none;
    margin-bottom: 10%;
}

.botoesTamanho button{
    margin-right: 5%;
    height: 25px;
    background-color: white;
}

.botoesTamanho button:focus{
    border: 1px solid black;
    box-shadow: 0 0 0 2px black;
}

.botoesQuantidade{
    margin-left: 3%;
    margin-right: 3%;
    height: 25px;
    background-color: white;
    
}
.botaoAddCarrinho{
    padding: 0.6rem;
    margin-top: 0.7rem;
    background-color: black;
    color: white;
    width: 100%;
}

.botaoAddCarrinho:hover{
    background: #e95144;
    border: 1px solid #e95144;
}
/*-------------Produto----------------- margin:  top right bottom left  */
.listaProduto{
    margin: 5% 0 5% 0; 
}
.produto{ 
    float: left;
    height: 12%;
    width: 17%;
    /*box-shadow: 0 0 0 2px rgb(170, 170, 170); */
    margin-left: 3%;
    cursor: pointer;
}
.imagemProduto{
    width: 100%;
    height: 100%;
    transition: all .5s; 
}
.imagemProduto:hover{
    opacity: 0.5;
}
.botaoVerDetalhes{
    text-align: center;
    cursor: pointer;
    height: 30px;
    width: 100%;
    border: 1px solid black;
    background-color: black;
    color: #a7a4a4;
    visibility: hidden;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
}
.botaoVerDetalhes.mostrarBotao{
    visibility: visible;
    animation: botao .3s;
}
@keyframes botao {
    from {
        opacity: 0;
        transform: translate3d(0, -10px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.descricaoProduto{
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.1rem;
}
.marcadescricaoProduto{
    color: #828282;
}
.precodescricaoProduto{
    color: #e95144;
}

/*---------------------------------------- */

.spotlight{
    font-family: "Montserrat";
    text-transform: uppercase;
}

.discreet-spot{
    font-size: 11px;
}

.discreet-arimo{
    font-size: 12px;
}

.subtitle-montserrat{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 10%;
}

.banner-paragrafo{
    position: relative;
    text-align: center;
    margin-top: -380px;
    margin-bottom: 260px;
}

.banner-texto{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.banner-paragrafo-rightinle{
    margin-left: 50%;
}

.pink-card{
    background-color: #FFF5EE;
    padding: 1%;
}

.pink-card-title{
    font-size: 16px;
    margin-top: 5%;
    font-weight: bold;
}

/*---------------------------------------- */

/*Tratando responsividade*/
@media only screen and (max-width: 600px) {
    h1, h2, h3{
        font-size: 20px;
    }
    .banner-paragrafo{
        margin-top: 0px;
    }
    .banner-titulo{
        display: block;
        position: relative;
        width: 60%;
        background-color: white;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .undercard{
        margin-top: -200px;
    }
    .banner-paragrafo-rightinle{
        margin-left: 0;
    }

    .mobile-hide{
        display: none;
    }
    
}
/*------------Scroll Navbar Primaria e Secundaria--------- */
.navbarPricipal{
    z-index: 200;
}
.navbarEscondida{
    display: none;
    z-index: 200;
}
.navbarEscondida.aparece{
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
}
.navbarPrincipal.esconde{
    display: none;
}
