/*Modal Ver Detalhes do Produto*/
.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar{
    display: flex;
}

.modal {
    background: white;
    width: 60%;
    min-width: 300px;
    padding: 40px;
    border: 5px solid black;
    box-shadow: 0 0 0 2px white;
    position: relative;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal {
    animation: modal .3s;
}

.fechar{
    position: absolute;
    top: -20px;
    right: -20px;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    background: black;
    color: white;
    cursor: pointer;
    transition: all .5s;
}
.fechar:hover{
    background: red;
}

/*Produto margin:  top right bottom left  */
.produto{ 
    float: left;
    height: 10%;
    width: 10%;
    margin-left: 10%;
    border: 3px solid black;
    box-shadow: 0 0 0 2px pink;
}
.imagemProduto{
    width: 100%;
    height: 100%;
    transition: all .5s; 
}
.imagemProduto:hover{
    /* opacity: 0.9; ta dando ruim */
}
.divbotaoVerDetalhes{
    margin-top: -13%;
}
.botaoVerDetalhes{
    text-align: center;
    cursor: pointer;
    width: 100%;
    border: 1px solid black;
    background-color: black;
    color: aliceblue;
    visibility: hidden;
}
.botaoVerDetalhes.mostrarBotao{
    visibility: visible;
    animation: botao .3s;
}
@keyframes botao {
    from {
        opacity: 0;
        transform: translate3d(0, -50px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.descricaoProduto p{
    text-align: center;

}
.imagemProdutoModal{
    width: 10%;
    height: 10%;
}
/*---------------------------------------- */