.editor-modal-glass{
    display: flex;
    flex: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    justify-content: center;
}

.editor-modal-container{
    display: flex;
    flex-direction: column;
    background: white;
    margin: 20vh 0 10vh 0;
    min-width: 80vw;
    padding: 35px;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

.editor-modal-closer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: fixed;
    top: 10vh;
    right: 3vw;
    width: 40px;
    height: 40px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s;
}

.editor-modal-closer:hover{
    background-color: rgba(255,255,255,.5);
}